{% extends "base.html" %}

{% block content %}

<br>
<br>
<h1 align="center"><b>¿Qué es Waste-Smart App?</b></h1>
<br>
<br>
<h2 align="center"><i>Es una aplicación que facilita a las empresas 
    <br>contactar con entidades o empresas terceras que recolecten traten
    <br> y /o compren los desperdicios que estas generan.</i></h2>
<div style="margin: 50px;">
<br>
<br>
<br>
<br>

    <h2 align="center">Es una app que...</h2>
       
        <table class="symbols"> 
            
            <thead>
                <tr>
                    
                    <th><img style=" width: 48%;" src="../static/img/wifisymbol.png" alt="Funciona con Wifi o datos móviles"/></th>
                    <th><img style=" width: 48%;" src="../static/img/24H  symbol.png" alt="Tiene acceso 24/7"/></th>
                    <th><img style=" width: 48%;" src="../static/img/finger  symbol.png" alt="Funciona con Wifi o datos móviles"/></th>
                </tr>   
            </thead></div>

{% endblock %}