{% extends "base.html" %}

{% block content %}

<br>
<br>
<h1 style="text-align: center;"><b>¿Qué es Waste-Smart App?</b></h1>
<br>
<br>
<h2 align="center"><i>Es una aplicación que facilita a las empresas 
    <br>contactar con entidades o empresas terceras que recolecten traten
    <br> y /o compren los desperdicios que estas generan.</i></h2>
<div style="margin: 50px;">
<br>
<br>


    <h2 align="center"><b>Es una app que...</b></h2>
    <br>
    <br>


    <!--<table style="border-collapse: separate; border-spacing: 5px" class="symbols">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><img style=" width: 250px; height: 250px;" src="../static/img/wifisinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Funciona con Wifi 
                        o datos móviles</h3></i></font></p></td>
      <td><img style=" width: 250px; height: 250px;" src="../static/img/24Hsinfondo.png" alt="Tiene acceso 24/7"/><p><h3><i><font color="#fd4646">Tiene 
                        acceso 24/7</h3></i></font></p></td>
      <td><img style=" width: 250px; height: 250px;" src="../static/img/fingersinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Y funciona completamente 
                        gratis</h3></i></font></p></td>
    </tr>

  </tbody>
</table>-->
<div class="container row justify-content-center ">
<div class="center-block" style="margin-right: auto; margin-left: auto;">
<div style="display: block;" >
    <div align="center">
    <img style=" width: 250px; height: 250px; align-items: center;" src="../static/img/wifisinfondo.png" alt="Funciona con Wifi o datos móviles"/></div>
    <p style="text-align: center;"> <h3><i><font color="#fd4646">Funciona con Wifi o datos móviles</h3></i></font></p>
</div>
<div style="display: block;">
    <div align="center">
    <img style=" width: 250px; height: 250px; align-items: center;" src="../static/img/24Hsinfondo.png" alt="Tiene acceso 24/7"/></div>
    <p style="text-align: justify;"><h3><i><font color="#fd4646">Tienes acceso a ella 24/7</h3></i></font></p>
</div>
<div style="display: block;">
    <div align="center">
    <img style=" width: 250px; height: 250px; align-items: center;" src="../static/img/fingersinfondo.png" alt="Funciona con Wifi o datos móviles"/></div>
    <p style="text-align: center;"><h3><i><font color="#fd4646">Y funciona completamente gratis</h3></i></font></p>
</div>
</div>
</div>
      
        <!--<table > 
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="table-responsive">
            <thead>
                <tr> 
                    <th><img style=" width: 250px; height: 250px;" src="../static/img/wifisinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Funciona con Wifi 
                        o datos móviles</h3></i></font></p></th>
                    
                    <th><img style=" width: 250px; height: 250px;" src="../static/img/24Hsinfondo.png" alt="Tiene acceso 24/7"/><p><h3><i><font color="#fd4646">Tiene 
                        acceso 24/7</h3></i></font></p></th>
                   
                    <th><img style=" width: 250px; height: 250px;" src="../static/img/fingersinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Y funciona completamente 
                        gratis</h3></i></font></p></th>
                </tr>   
            </thead>-->
    </div>

{% endblock %}