{% extends "base.html" %}

{% block content %}

<br>
<br>
<h1 align="center"><b>¿Qué es Waste-Smart App?</b></h1>
<br>
<br>
<h2 align="center"><i>Es una aplicación que facilita a las empresas 
    <br>contactar con entidades o empresas terceras que recolecten traten
    <br> y /o compren los desperdicios que estas generan.</i></h2>
<div style="margin: 50px;">
<br>
<br>
<br>
<br>
<br>

    <h2 align="center"><b>Es una app que...</b></h2>
       
        <table class="symbols"> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <thead>
                <tr> 
                    <th><img style=" width: 57%;" src="../static/img/wifisinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Funciona con Wifi 
                        o datos móviles</h3></i></font></p></th>
                    
                    <th><img style=" width: 54%;" src="../static/img/24Hsinfondo.png" alt="Tiene acceso 24/7"/><p><h3><i><font color="#fd4646">Tiene 
                        acceso 24/7</h3></i></font></p></th>
                   
                    <th><img style=" width: 57%;" src="../static/img/fingersinfondo.png" alt="Funciona con Wifi o datos móviles"/><p><h3><i><font color="#fd4646">Y funciona completamente 
                        gratis</h3></i></font></p></th>
                </tr>   
            </thead></div>

{% endblock %}