{% extends "base.html" %}

{% block content %}
<title>{% block title %}Empresas {% endblock %}</title>

<br>
<br>
<h1 align="center"><b>Listado de Empresas</b></h1>
<br>
<div style="margin: 20px;">
<div class="table-responsive">
<table class="table table-hover table-bordered">
  <thead style="background-color: #254967; color: white;" >
    <tr>
      
      <th scope="col"><b>Nombre</b></th>
      
      <th scope="col"><b>Teléfono</b></th>
      <th scope="col"><b>Informacion</b></th>
    </tr>
  </thead>
  <tbody>
  	{% for empresa in listaEmpresas%}
    <tr>
     <td>{{empresa.nombreEmpresa}}</td>
     <td>{{empresa.telefono}}</td>
     <td><a class="btn btn-primary" href="{% url 'informacionEmpresa' emp=empresa.id %}">Informacion</a></td>
     
     
    </tr>

    {% endfor %}
    
  </tbody>
</table>
</div> 
</div>
{% endblock %}