{% extends "base.html" %}

{% block content %}
<title>{% block title %}Empresas{% endblock %}</title>

<br>
<br>
<h1 align="center"><b>Listado de Empresas</b></h1>
<br>
<br>


<div style="margin: 20px;">
<div class="table-responsive">
<table class="table table-hover" cellspacing:"0">
  <thead style="background-color: #254967; color: white;">
    <tr>
      <th scope="col"><b>Nombre</b></th>
      <th scope="col"><b>Telefono <img style=" width: 40px; height: 40px; align-items: center;" src="../static/img/wifisinfondo.png"></b></th>
      <th scope="col"><b>Direccion <img style=" width: 40px; height: 40px; align-items: center;" src="../static/img/wifisinfondo.png"></b></th>
      <th scope="col"><b>Email <img style=" width: 40px; height: 40px; align-items: center;" src="../static/img/wifisinfondo.png"></b></th>
      <th scope="col"><b>Web <img style=" width: 40px; height: 40px; align-items: center;" src="../static/img/wifisinfondo.png"></b></th>
      <!-- <th scope="col"><b>Contacto</b></th>
      <th scope="col"><b>Servicios</b></th>
      <th scope="col"><b>Materiales</b></th> -->
    </tr>
  </thead>
  <tbody >
  	{% for empresa in empresas %}
    <tr>
     <th>{{empresa.nombreEmpresa}}</th>
     <th>{{empresa.telefono}}</th>
     <th>{{empresa.direccion}}</th>
     <th>{{empresa.email}}</th>
     <th>{{empresa.web}}</th>
     <!-- <th>{{empresa.contacto}}</th>
     <th>{{empresa.servicio}}</th>
     <th>{{empresa.materiales}}</th> -->
     
     
    </tr>

    {% endfor %}
    
  </tbody>
</table>
</div>
</div>

{% endblock %}
