{% extends "base.html" %}

{% block content %}
<title>{% block title %}Empresas{% endblock %}</title>

<br>
<br>
<h1 align="center"><b>Listado de Empresas</b></h1>
<br>
<br>


<div style="margin: 20px;">
<div class="table-responsive">
<table class="table table-hover table-bordered">
  <thead style="background-color: #254967; color: white;">
    <tr>
      <th scope="col"><b>Nombre</b></th>
      <th scope="col"><b>Telefono</b></th>
      <th scope="col"><b>Direccion</b></th>
      <th scope="col"><b>Email</b></th>
      <th scope="col"><b>Web</b></th>
      <th scope="col"><b>Contacto</b></th>
      <th scope="col"><b>Servicios</b></th>
      <th scope="col"><b>Materiales</b></th>
    </tr>
  </thead>
  <tbody >
  	{% for empresa in empresas %}
    <tr>
     <th>{{empresa.nombreEmpresa}}</th>
     <th>{{empresa.telefono}}</th>
     <th>{{empresa.direccion}}</th>
     <th>{{empresa.email}}</th>
     <th>{{empresa.web}}</th>
     <th>{{empresa.contacto}}</th>
     <th>{{empresa.servicio}}</th>
     <th>{{empresa.materiales}}</th>
     
     
    </tr>

    {% endfor %}
    
  </tbody>
</table>
</div>
</div>

{% endblock %}
